.swiper {
    max-width: 888px;
    margin: 0 auto;
}

.slider {
    &-container {
        overflow: hidden;
    }

    &-track {
        display: flex;
        transition: .5s;
    }

    &-item {
        height: 335px;
    }

    &-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.btn-prev {
    font-size: 30px;
    border: none;
    margin-right: 45px;
    color: inherit;
    background-color: transparent;
}

.btn-next {
    font-size: 30px;
    border: none;
    margin-left: 45px;
    color: inherit;
    background-color: transparent;
}

.line {
    width: 70px;
    height: 5px;
    border-radius: 10px;
    border: none;
    background-color: #C9453B1A;
    margin: 0 5px;
}

.line:hover {
    background-color: red;
    transition: .7s;
}

.card__slider {
    &-title {
        @include font-face ($fonts:$font-family-title, $weight:500, $align:left);
        font-size: 24px;
        line-height: 150%;
    }

    &-subtitle {
        @include font-face ($fonts:$font-family-text, $align:left);
        opacity: 0.6;
        font-size: 20px;
        position: relative;
        padding-left: 20px;
        line-height: 150%;
    }

    &-copy {
        @include font-face($fonts:$font-family-text, $align:left);
        font-size: 16px;
        line-height: 150%;
        opacity: 0.6;
    }

    &-price {
        @include font-face($fonts:$font-family-text,$weight:500, $align:left);
        font-size: 18px;
        line-height: 150%;
    }
}

.card__slider-price::after {
    content: "person";
    opacity: 0.6;
}

.card__slider-subtitle::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0%;
    top: 5px;
    width: 16px;
    height: 16px;
    background-image: url(/src/svg/mapsmark.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.card__slider-subtitle::after {
    margin-left: 50px;
}

.NewYork::after {
    content: "\2B50 4.8";
}

.China::after {
    content: "\2B50 4.9";
}

.Iran::after {
    content: "\2B50 4.6";
}

.Bangladesh::after {
    content: "\2B50 4.7";
}

.Japan::after {
    content: "\2B50 4.7";
}

@media (min-width: 315px) {
    .card__slider {
        margin-left: 30px; 
    }
}

@media (min-width: 370px) {
    .card__slider {
        margin-left: 14%; 
    }
}

@media (min-width: 410px) {
    .card__slider {
        margin-left: 18%;
    }
}

@media (min-width: 1030px) {
    .card__slider {
        margin-left: 0;
    }
}

@include sm {
    .btn-prev {
        margin-right: 10px;
    }

    .btn-next {
        margin-left: 10px;
    }
}