// Small tablets and large smartphones (landscape view)
$screen-sm-max: 576px;

// Small tablets (portrait view)
$screen-md-max: 768px;

// Tablets and small desktops
$screen-lg-max: 992px;

// Large tablets and desktops
$screen-xl-max: 1200px;

$maxWidth: 1140;

//font-face 
$font-family-title: Gelasio, serif;
$font-family-logo: Ribeye, cursive;
$font-family-text: Roboto, sans-serif;